
.nav-head{
	z-index: -30px;
}
.nav-2{
height:45px;
border-radius: 0px 0px 8px 8px;
}
.nav-2 ul{
	list-style: none;
	padding:0;
}
.nav-2 li{
	position:relative;
	bottom:5px;
	font-family: 'Varela Round', Arial;
	text-align: center;

}
.nav-2 a{
	font-size:14px;
	display:inline-block;
	text-decoration:none;
	color:white;
	padding: 5px;

}
#main-page{
	background-color:#ddd;
	text-align: center;

}
#intro{
	font-family: Varela Round , Arial;
	text-align: center;
	padding:5px 5px 0px 5px;
}
.welcome{
	font-size:28px;
	word-spacing: 10px;
	padding-top: 5px;
}
.company{
	padding-bottom:10px;
}
hr{
	position:relative;
	bottom:10px;
	width:80%;	
}
#about{
	position:relative;
	bottom:15px;
}
.social{
	position:relative;
	bottom:10px;
}
.facebook, .youtube, .instagram{
	margin:0px 20px 0px 20px;
}
.filter{
	text-align: center;
	font-family: 'Varela Round',Arial;
	font-size: 20px;
	position:relative;
	bottom:18px;

}

.btn{
	font-family:'Varela Round', Arial;
	border:2px solid black;
	border-radius:15px;
	height:35px;
	width:350px;
	padding:12px;
	position:relative;
	bottom:20px;
}
.btn p{
	position:relative;
	bottom:8px;

}
/*product card*/
.home1{
	font-family: 'Varela Round', Arial;
	background-color:#777a7d;
	border:2px solid black;
	border-radius:37px;
	box-shadow: 10px 10px black;
	color:white;
	width:300px;
	height:350px;
	position: relative;
	left:20px;
	margin-top:10px;
	margin-bottom: 10px;
}
img .home-pho{
	border:1px solid black;
	border-radius: 37px;
}
.left{
	font-size: 18px;
	position: relative;
	right:100px;
}
.right{
	font-size: 18px;
	position:relative;
	left:70px;
	bottom:43px;
}
.center{
	font-size:18px;
	position:relative;
	bottom:50px;
	right:5px;
}
.price{
	font-weight:bold;
	color:black;
	position: relative;
	bottom: 50px;
}
/*footer*/
.footer{
	margin-top: 30px;
	background-color: #343a40;
	border-top:10px solid black;
	border-radius: 15px;
	color:white;
	font-family:'Varela Round', Arial;
}
.footer img{
	margin-top:10px;
}
.l-head{
	font-size:18px;
	text-align:center;
}
.r-head{
	font-size:18px;
	text-align:center;
}
 .white{
	border:1px solid white;
	margin-bottom: -2px;
}
.l-body, .r-body{
 font-size:15px;
}

.credit{
	line-height: 0.8em;
	text-align: center;
	font-size:12px;
	position:relative;
	top:17px;
	padding-bottom: 8px;
}